.bar_div{
    background-color:#805A40;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color:#7B967A;
    border: 1px solid #7B967A;
    color: white;
    border-radius: 2px;
    
}